# node
NODE_ROLE=full
NODE_HOST=bolt-node
BOLT_NETWORK=testnet
NETWORK_MODE=tcp

# ports
API_PORT=7333
TCP_PORT=8333
METRICS_PORT=7336
IPFS_SWARM_PORT=4001

# logging
LOG_LEVEL=info

# mining
MINING_ENABLED=false
MINER_ADDRESS=
MINING_INTERVAL=10000
MINING_MAX_ITERATIONS=1000000

# discovery
IPFS_BOOTSTRAP_ENABLED=true

# monitoring
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=admin
